.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 100px);
}

.board .cell {
  width: 100px;
  height: 100px;
  background-color: black;
  border: 1px solid white;
}
